<%- include('../../partials/header.ejs') -%>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h6 class="page-title">Management User Role</h6>
                            <!-- <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#">Veltrix</a></li>
                                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Basic Tables</li>
                            </ol> -->
                        </div>
                        <div class="row mt-5">
                            <div>
                                <button class="btn btn-primary  dropdown-toggle mb-2" type="button"
                                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-plus-circle"></i> Buat Role User
                                </button>
                            </div>

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Validation type</h4>
                                        <p class="card-title-desc">Parsley is a javascript form validation
                                            library. It helps you provide your users with feedback on their form
                                            submission before sending it to your server.</p>
                                        <form class="row g-3 needs-validation" novalidate>
                                            <div class="col-md-4">
                                                <label for="validationCustom01" class="form-label">Nama Role</label>
                                                <input type="text" class="form-control" id="validationCustom01"
                                                    placeholder="Masukan nama role" required>
                                                <!-- <div class="valid-feedback">
                                                    Looks good!
                                                </div> -->
                                            </div>

                                            <!-- end col -->
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit">Submit form</button>
                                            </div>
                                            <!-- end col -->
                                        </form><!-- end form -->
                                    </div><!-- end cardbody -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div>
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <%- include('../../partials/footer.ejs') -%>