<%- include('../../partials/header.ejs') -%>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="page-title">Management User Role</h6>
                        </div>
                        <!-- Buat Role User -->
                        <div class="mt-5 d-flex justify-content-between align-items-start">
                            <div class="row col-lg-6">
                                <div>
                                    <button class="btn btn-primary dropdown-toggle mb-2" type="button"
                                        aria-expanded="false" data-bs-toggle="modal"
                                        data-bs-target=".modal-create-new-role">
                                        <i class="fas fa-plus-circle"></i> Buat Role User
                                    </button>
                                </div>
                                <div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">List Role</h4>
                                            <div class="table-responsive">
                                                <table class="table table-nowrap mb-0 ">

                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Menu Name</th>
                                                            <th>Publish</th>
                                                            <th> Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Mark</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-role" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-role"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px" class="align-middle">
                                                                <a class="btn btn-secondary btn-sm edit bg-info"
                                                                    title="View">
                                                                    <i class="mdi mdi-eye"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- end tbody -->
                                                </table><!-- end table -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="row col-lg-6">
                                <div>
                                    <button class="btn btn-primary dropdown-toggle mb-2" type="button"
                                        aria-expanded="false" data-bs-toggle="modal"
                                        data-bs-target=".modal-create-new-menu-permission">
                                        <i class="fas fa-plus-circle"></i> Create Access Role User
                                    </button>
                                </div>
                                <div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">List Access Menu</h4>
                                            <div class="table-responsive">
                                                <table class="table mb-0">

                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Access Name</th>
                                                            <th>Access Key</th>
                                                            <th>Publish</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Dashboard Analytic Report</td>
                                                            <td>dashboard_analytic_report</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-menu" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-menu"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Dashboard Analytic Report</td>
                                                            <td>dashboard_analytic_report</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-menu" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-menu"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Dashboard Analytic Report</td>
                                                            <td>dashboard_analytic_report</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-menu" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-menu"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Dashboard Analytic Report</td>
                                                            <td>dashboard_analytic_report</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-menu" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-menu"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Dashboard Analytic Report</td>
                                                            <td>dashboard_analytic_report</td>
                                                            <td>
                                                                <input class="form-check form-switch" type="checkbox"
                                                                    id="switch-publish-menu" switch="success" checked>
                                                                <label class="form-label" for="switch-publish-menu"
                                                                    data-on-label="Yes" data-off-label="No"></label>
                                                            </td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-secondary btn-sm edit bg-warning"
                                                                    title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-secondary btn-sm delete bg-danger"
                                                                    title="Delete">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- end tbody -->
                                                </table><!-- end table -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buat Menu Permission-->

                        <!-- end col -->
                    </div>
                </div>
                <!-- end row -->

                <!--  Modal content for Buat Role Baru -->
                <div class="modal fade modal-create-new-role" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myLargeModalLabel">Buat Role</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-md-4">
                                        <label for="validationCustom01" class="form-label">Nama Role</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="Masukan nama role" required>
                                    </div>

                                    <h6 class="form-label">Menu Access Role</h6>
                                    <div>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="invalidCheck2" required>
                                                <label class="form-check-label" for="invalidCheck2">
                                                    Dashboard Analytic Report
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="invalidCheck2" required>
                                                <label class="form-check-label" for="invalidCheck2">
                                                    Management User
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="invalidCheck2" required>
                                                <label class="form-check-label" for="invalidCheck2">
                                                    Buat Order Produksi
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="invalidCheck2" required>
                                                <label class="form-check-label" for="invalidCheck2">
                                                    Laporan Hasil Produksi
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- </div> -->
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                    <!-- end col -->
                                </form><!-- end form -->

                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <!-- Modal Untuk Buat Akses Menu -->
                <div class="modal fade modal-create-new-menu-permission" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myLargeModalLabel">Create Akses Menu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 needs-validation" novalidate action="/management-user/add-menu"
                                    method="post">
                                    <div class="col-md-4">
                                        <label for="validationCustom01" class="form-label">Nama Menu</label>
                                        <input type="text" class="form-control" id="nameMenu" name="nameMenu"
                                            value="<%= dataMenu.nameMenu %>" placeholder="Entry nama menu" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom01" class="form-label">Nama Access Key</label>
                                        <input type="text" class="form-control" id="accessMenu" name="accessMenu"
                                            value="<%= dataMenu.accessMenu %>" placeholder="Entry access menu" required>
                                    </div>

                                    <!-- </div> -->
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    <!-- end col -->
                                </form><!-- end form -->

                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <%- include('../../partials/footer.ejs') -%>