<%- include('../../partials/header.ejs') -%>

   <div class="main-content">

      <div class="page-content">
         <div class="container-fluid">

            <!-- start page title -->
            <div class="page-title-box">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <h6 class="page-title">Product List</h6>
                     <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Veltrix</a></li>
                        <li class="breadcrumb-item"><a href="#">Extra Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Starter Page</li>
                     </ol>
                  </div>
                  <div class="col-md-4">
                     <div class="float-end d-none d-md-block">
                        <div class="dropdown">
                           <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="mdi mdi-cog me-2"></i> Settings
                           </button>
                           <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end page title -->



         </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->


      <footer class="footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                  ©
                  <script>document.write(new Date().getFullYear())</script> Veltrix<span
                     class="d-none d-sm-inline-block">
                     - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.</span>
               </div>
            </div>
         </div>
      </footer>


   </div>


   <%- include('../../partials/footer.ejs') -%>